@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('/fortunetellerfont/Pretendard-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('/fortunetellerfont/Pretendard-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('/fortunetellerfont/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.guide_text {
	font-family: 'Pretendard-Regular';
	font-size:22px;
	letter-spacing:-4px;
	line-height:35px;
	text-align:center;
}

.guide_text > span {
	font-family: 'Pretendard-Bold';
	font-weight:900;
	letter-spacing:-4px;
	font-size:32px;
	line-height:35px;
	background:linear-gradient(to bottom, white 30%, #d4f9ff 30% 70%, white 70%);
}

.guide_img {
	text-align:center;
	width:100%;
	margin-top:30px;
}

.guide_img img {
	max-width:90%;
}