@charset "UTF-8";

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

form {
	display:flex;
	flex-direction:column;
	align-items:center;
	justigy-content:flex-start;
	width:100%;
	text-align:center;
}

td {
	letter-spacing:-2.5px;
}

.form input[type=text]{
			width: 330px;
			height : 35px;
    		border-radius: 30px;
    		background: #F7F5F5;
			border: 1px solid #F7F5F5;
			border:none;
	
}
.form input[type=password]{
			width: 330px;
			height : 35px;
    		border-radius: 30px;
    		background: #F7F5F5;
			border:none;
}

input {
	text-align:center;
}

.form input[type=button]{
	height:40px;
	width:250px;
	font-size:15px !important;
	border-radius:30px;
	background:#fddd5f;
	 border: 1px solid #fddd5f;
	 padding:10px 15px;
	  text-decoration-line: none;
	  color:#454545;
	 
}
.form input[type=button]:hover{
	height:40px;
	width:250px;
	font-size:15px !important;
	border-radius:30px;
	background:#454545;
	 border: 1px solid #454545;
	 padding:10px 15px;
	  text-decoration-line: none;
	  color:#fddd5f;
	 
}

#LoginBtn {
	padding-top: 30px;
}

#LoginBtn > input {
	font-family: 'Cafe24Ssurround';
}

.login_text {
	font-family: 'Pretendard-Regular';
	font-size:32px;
	letter-spacing:-4px;
	line-height:35px;
    padding-bottom: 30px;
	
}
.login_text > span {
	font-family: 'Pretendard-Bold';
	font-weight:700;
	font-size:32px;
	letter-spacing:-4px;
	line-height:35px;
	background:linear-gradient(to bottom, white 30%, #d4f9ff 30% 70%, white 70%);
}
#loginId {
	white-space:nowrap;
	padding-bottom: 30px;
}
#loginPass{
	white-space:nowrap;
}
input[type=button] {
	font-family: 'Pretendard-Bold';
	color:#454545;
}
#loginForm {
    width:100%;
}

.loginBtn {
	cursor: pointer;
}